<launch>
 
     <node pkg="pioneer2" name="camera_module" type="camera_module" output="screen">
	<param name="publish_rate" type="int" value="30" />
	<param name="piCamera" type="bool" value="true" />
	<param name="height" type="int" value="860" />
	<param name="video_src" type="string" value="http://192.168.0.2:8080/video" />
<param name="angletestPan" type="int" value="0" />
<param name="angletestTilt" type="int" value="0" />
     </node>


     <node pkg="pioneer2" name="qr_scanner" type="qr_scanner" output="screen">
	<param name="height_roi" type="int" value="400" />
	<param name="width_roi" type="int" value="640" />
     </node>

     <node pkg="pioneer2" name="visualizer" type="visualizer" output="screen">
	<param name="height" type="int" value="360" />
     </node>

 <node pkg="pioneer2" name="robot_controller" type="robot_controller" output="screen">
     </node>

<node pkg="pioneer2" name="servo_controller" type="servo_controller.py" output="screen">
	<param name="std_tilt" type="int" value="0" />
	<param name="std_pan" type="int" value="0" />
     </node>

<node pkg="pioneer2" name="master" type="master" output="screen">
     </node>


</launch>
